<div class="container py-3">
  <header>
    <div class="pricing-header p-3 pb-md-4 mx-auto text-center" style="width: 50rem;">
      <h1 class="fs-1 fw-normal">T<span class="fs-3 fw-lighter">emperature.</span> A<span class="fs-3 fw-lighter">ir
          Quality Index.</span> H<span class="fs-3 fw-lighter">istorical Weather Data.</span>
      </h1>
      <p class="fs-5 fst-italic fw-lighter mx-auto text-center">Our weather app provides efficient access to
        comprehensive weather data, offering real-time temperature updates, accurate Air Quality Index readings, and
        insightful historical weather data. Stay informed with precision and reliability.</p>
    </div>
  </header>

  <main>
    <div class="row row-cols-1 row-cols-md-3 mb-3 text-center">
      <div class="col">
        <div class="card mb-4 rounded-3 shadow-sm">
          <div class="card-header">
            <h2 class="my-0 fw-normal">Today's Temperature</h2>
            <h3 class="my-0 fw-light">Location Name</h3>
          </div>
          <div class="card-body">
            <h1 class="card-title pricing-card-title">20<sup>&deg;</sup><small
                class="text-body-secondary fw-normal">C</small></h1>
            <ul class="list-unstyled mt-3 mb-4">
              <li>Minimum Temperature : </li>
              <li>Maximum Temperature : </li>
              <li>Sunrise at : </li>
              <li>Sunset at : </li>
            </ul>
            <button type="button" class="btn btn-sm btn-outline-primary">More Details <span
                class="fw-bold">&rarr;</span></button>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card mb-4 rounded-3 shadow-sm">
          <div class="card-header">
            <h2 class="my-0 fw-normal">Air Quality Index</h2>
            <h3 class="my-0 fw-light">(AQI unit μg/m<sup>3</sup>)</h3>
          </div>
          <div class="card-body">
            <h1 class="card-title pricing-card-title">$15<small class="text-body-secondary fw-light">/mo</small></h1>
            <ul class="list-unstyled mt-3 mb-4">
              <li>20 users included</li>
              <li>10 GB of storage</li>
              <li>Priority email support</li>
              <li>Help center access</li>
            </ul>
            <button type="button" class="btn btn-sm btn-outline-primary">More Details <span
                class="fw-bold">&rarr;</span></button>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card mb-4 rounded-3 shadow-sm">
          <div class="card-header">
            <h2 class="my-0 fw-normal">7-Day Forecast</h2>
            <div class="mt-3">
              <mat-form-field appearance="outline" (click)="picker.open()">
                <mat-date-range-input [rangePicker]="picker">
                  <input matStartDate placeholder="Start date" (dateChange)="startDateChanged($event)">
                  <input matEndDate placeholder="End date" (dateChange)="endDateChanged($event)">
                </mat-date-range-input>
                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-date-range-picker #picker></mat-date-range-picker>
              </mat-form-field>
            </div>
          </div>
          <div class="card-body">
            <h1 class="card-title pricing-card-title">$15<small class="text-body-secondary fw-light">/mo</small></h1>
            <ul class="list-unstyled mt-3 mb-4">
              <li>20 users included</li>
              <li>10 GB of storage</li>
              <li>Priority email support</li>
              <li>Help center access</li>
            </ul>
            <button type="button" class="btn btn-sm btn-outline-primary">More Details <span
                class="fw-bold">&rarr;</span></button>
          </div>
        </div>
      </div>
    </div>

    <h2 class="display-6 text-center mb-4">Top Cities Weather Forecast</h2>
    <div class="table-responsive border border-1">
      <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

        <!--- Note that these columns can be defined in any order.
                The actual rendered columns are set as a property on the row definition" -->

        <!-- Position Column -->
        <ng-container matColumnDef="position">
          <th mat-header-cell *matHeaderCellDef> No. </th>
          <td mat-cell *matCellDef="let element"> {{element.position}} </td>
        </ng-container>

        <!-- Name Column -->
        <ng-container matColumnDef="cityName">
          <th mat-header-cell *matHeaderCellDef> Name </th>
          <td mat-cell *matCellDef="let element"> {{element.cityName}} </td>
        </ng-container>

        <!-- Weight Column -->
        <ng-container matColumnDef="weight">
          <th mat-header-cell *matHeaderCellDef> Weight </th>
          <td mat-cell *matCellDef="let element"> {{element.weight}} </td>
        </ng-container>

        <!-- Symbol Column -->
        <ng-container matColumnDef="symbol">
          <th mat-header-cell *matHeaderCellDef> Symbol </th>
          <td mat-cell *matCellDef="let element"> {{element.symbol}} </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>

    </div>
    <div class="border border-1">
      <mat-paginator [length]="200" [pageSizeOptions]="[2, 5, 7]" aria-label="Select page">
      </mat-paginator>
    </div>
  </main>

  <footer class="pt-4 my-md-5 pt-md-5 border-top">
    <div class="row">
      <div class="col-12 col-md">
        <img class="mb-2" src="/docs/5.3/assets/brand/bootstrap-logo.svg" alt="" width="24" height="19">
        <small class="d-block mb-3 text-body-secondary">© 2017–2023</small>
      </div>
      <div class="col-6 col-md">
        <h5>Features</h5>
        <ul class="list-unstyled text-small">
          <li class="mb-1"><a class="link-secondary text-decoration-none" href="#">Cool stuff</a></li>
          <li class="mb-1"><a class="link-secondary text-decoration-none" href="#">Random feature</a></li>
          <li class="mb-1"><a class="link-secondary text-decoration-none" href="#">Team feature</a></li>
          <li class="mb-1"><a class="link-secondary text-decoration-none" href="#">Stuff for developers</a></li>
          <li class="mb-1"><a class="link-secondary text-decoration-none" href="#">Another one</a></li>
          <li class="mb-1"><a class="link-secondary text-decoration-none" href="#">Last time</a></li>
        </ul>
      </div>
      <div class="col-6 col-md">
        <h5>Resources</h5>
        <ul class="list-unstyled text-small">
          <li class="mb-1"><a class="link-secondary text-decoration-none" href="#">Resource</a></li>
          <li class="mb-1"><a class="link-secondary text-decoration-none" href="#">Resource name</a></li>
          <li class="mb-1"><a class="link-secondary text-decoration-none" href="#">Another resource</a></li>
          <li class="mb-1"><a class="link-secondary text-decoration-none" href="#">Final resource</a></li>
        </ul>
      </div>
      <div class="col-6 col-md">
        <h5>About</h5>
        <ul class="list-unstyled text-small">
          <li class="mb-1"><a class="link-secondary text-decoration-none" href="#">Team</a></li>
          <li class="mb-1"><a class="link-secondary text-decoration-none" href="#">Locations</a></li>
          <li class="mb-1"><a class="link-secondary text-decoration-none" href="#">Privacy</a></li>
          <li class="mb-1"><a class="link-secondary text-decoration-none" href="#">Terms</a></li>
        </ul>
      </div>
    </div>
  </footer>
</div>
